.fork-subscription-pricing-section {
    padding: 12px 10px 93px;
    font-family: $font-primary;
    color: $color-text;
    background-color: $background-color-pricing;    
}

.prices-container {

    &__title {
        font-size: 28px;
        line-height: 42px;
        font-weight: bold;
        text-align: center;
        padding-top: 14px;
        margin-bottom: 51px;
    }

    &-list__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 14px auto;
        max-width: 256px;

            &:nth-of-type(3) {
                max-width: 299px;
            }

            &-category {
                text-align: center;
                width: 100%;
                padding: 40px 0;
                font-size: 24px;
                line-height: 26px;
                text-transform: uppercase;
                background-color: rgba(255, 255, 255, 0.06);

                &--active {
                    padding: 47px 0;
                    background-color: rgba(0, 0, 0, 0.11);
                }                
            }

            &-cost {
                background-color: rgba(255, 255, 255, 0.11);
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &--active {
                    background-color: rgba(70, 48, 72, 0.83);
                }

                &-inner {
                    font-size: 60px;
                    line-height: 62px;
                    padding: 230px 0 20px;
                    font-weight: 700;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    &--active {
                        font-size: 82px;
                    }

                    &:before {
                        content: '$';
                        font-weight: normal;
                        position: relative;
                        display: block;
                    }
                }

                &-subtitle {
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: 16px;

                    &::after {
                        content: '';
                        width: 60px;
                        height: 5px;
                        background: $background-color-subtitle;
                        display: block;
                        margin: 0 auto;
                        margin-top: 38px;
                    }                    
                }

                &-advantage {
                    text-transform: capitalize;
                    font-size: 16px;
                    line-height: 18px;
                    padding-top: 30px;

                    &--level {
                        margin-bottom: 67px;
                    }                    
                }

                &-support {
                    text-transform: capitalize;
                    font-size: 16px;
                    line-height: 18px;
                    padding: 7px 0 38px 0;

                    &--active {
                        padding: 7px 0 83px 0;
                    }                    
                }

                &-btn {
                    text-transform: uppercase;
                    width: 160px;
                    font-size: 15px;
                    line-height: 17px;
                    border: 1px solid transparent;
                    border-radius: 40px;
                    background-color: rgba(255, 255, 255, 0.15);
                    padding: 15px 17px;
                    cursor: pointer;
                    color: $color-text;
                    margin: 0 auto 38px auto;

                    &--active {
                        font-size: 16px;
                        padding: 19px 29px;
                        width: 190px;
                    }                    
                }
            }
    }
}

@media screen and (min-width: 481px) {
    .prices-container {
        padding: 4px 0 68px;

        &__title {
            font-size: 42px;
            line-height: 44px;
            padding-top: 88px;
            margin-bottom: 39px;
        }
        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 595px;
            flex-wrap: wrap;
            margin: 0 auto;

            &__item {
                max-width: 257px;
                width: 100%;
                align-content: center;
                margin-bottom: 42px;
                align-self: center;

                &:nth-of-type(3) {
                    max-width: 299px;
                }                
            }
        }
    }
}

@media screen and (min-width: 993px) {
    .prices-container {
        padding: 8px 0 97px;

        &__box {
            max-width: 1200px;
            margin: 0 auto;
        }

        &__title {
            font-size: 48px;
            line-height: 50px;
            padding-top: 112px;
            margin-bottom: 60px;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-content: center;
            gap: 14px;
            max-width: 1200px;

        &__item {
            max-width: 257px;
            width: 100%;
            place-content: center;

            &:nth-of-type(3) {
                max-width: 299px;
            }          
        }
        }

    }
}