.here-is-what-you-get {
    height: 711px;
    background: #F4F4F4;
    justify-content: center;
    display: flex;
}

.sections-here-is {
    max-width: 1170px;
    @include grid(repeat(auto-fill, [col-start] 1fr), unset);
    grid-template-rows: repeat(2, 130px 511px);
}

.sections-here-is > * {
    grid-column: col-start 1 / span 2;
}

.here-is-right-block-image {
    @include gridColRow(2,2);
    background-image: url('../img/here-is-what-u-get/img-1.png');
/*     background-size: 620px 511px; */
    width: 610px;
    background-repeat: no-repeat;
}



.here-is-right-block-text {
    padding-top: 63px;
    grid-row: 1;
}


.h3-here-is-what-you-get {
    @include ff-Monts(700);
    color: #8D81AC;
    padding-left: 20px;
    font-size: 48px;

        &::after {
            content: '\003E'
        }
        &::before {
            content: '\003C';
        }
}


.here-is-left-block {
    padding-top: 40px;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    padding-right: 40px;
        &__box {
            @include grid((111px 390px), 23px);
            padding-top: 23px;
        }
        &__content {
            @include ff-Monts(400);
            line-height: 34px;
        }
        &__heading {
            @include fzFwLh(16px, unset, 34px);
           color: $text-content-color;
        }
        &__text {
            @include fzFwLh(14px, unset, 21px);
            color: $color-text-content;
            padding-top: 16px;
        }
}

@media (max-width: 768px) {
    .here-is-what-you-get {
        background: transparent;
        height: 1220px;
    }
    .h3-here-is-what-you-get {
        @include fzFwLh(44px, 700, 44px);
    }
    .here-is-right-block-text {
        @include gridColRow(1, 1);
        text-align: center;
    }
    .sections-here-is {
        max-width: 768px;
        display: grid;
    }
    .here-is-left-block {
        @include gridColRow(1, 2);
        padding: 0;
        margin: 0 auto;
            &__box {
                grid-template-columns: (111px 550px);
            }
    }
    .here-is-right-block-image {
        margin-top: 70px;
        grid-column: 1;
        grid-row: 3 / span 4 ;
        margin-left: 158px;
        height: 511px;
    }
}

@media (max-width: 320px) {
    .h3-here-is-what-you-get {
        @include fzFwLh (32px, 700, 38px);
        padding-left: 0;
    }
    .here-is-what-you-get {
        height: 1790px;
    }
    .here-is-right-block-text {
        // grid-column: 1;
        grid-row: 1;
        text-align: center;
    }
    .sections-here-is {
        margin-top: 170px;
        grid-template-columns: 300px;
        max-width: 320px;
        display: grid;

    }
    .here-is-left-block {
        text-align: center;
        justify-content: center;
        align-items: center;
        @include gridColRow(1, 2);
        padding: 0;
        margin: 0 auto;
            &__box {
                padding-top: 40px;
                grid-template-rows: repeat(400px);
                grid-template-columns: (270px);
            } &__box img {
                margin: 0 auto;
            } &__content {
                font-family: $font-secondary;
                font-weight: 400;
            }
    }
    .here-is-right-block-image {
        background-size: 317px 380px;
        margin: 0;
        margin-top: -30px;
        @include gridColRow(1, 5);
        float: right;
        width: 317px;
        height: 350px;
    }
}